<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/img/devudimudra.png" height="60">
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 17px;"><b>Bhagavan<br>Ravana Brahma</b></ion-title>

    <ion-buttons slot="end">
      <img src="assets/img/rbdbs-logo.png" height="60">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <b>Question And Answer</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content>

            <ion-row>
              <ion-col>

                <b> 1. What is the meaning of Brahma?</b><br>
                Brahma means the god, great, head and Ishwar. He is the greatest of all in world, the worshipper of all,
                the God who is nothing but the Soul. The word Brahma applies to God who is the embodiment of formless
                Paramatma, the absolute soul.
                <br><br>
                <b> 2. Can you please explain the meaning of Dravida Brahmin?</b><br>
                Dravida Brahmin means the one who knows "the knowledge of three (3) souls i.e., mortal, immortal and
                absolute souls (Kshara, Akshara, Purushottama)." Brahmin means the one who knows and has learned the
                wisdom of Brahma (soul), which is the greatest, and the most secret knowledge in creation. Those who
                first knew the divine wisdom on the earth were formerly called Dravidians.
                "Induvu (Indu)" means the "wise". In Indu (Hindu) land, during those days the people who knew the divine
                wisdom, kept a specific word Dravida before brahmin to let others know that we are not just mere worldly
                wise, but they knew three (3) soul’s wisdom taught by Bhagavan, thus they were called as Dravidians or
                Dravida brahmins.
                Though Paramatma was the only one who existed before creation, but after the creation he was divided
                into three souls and created the universe. From the God Paramatma (absolute soul), the souls named
                immortal(atma) and mortal(jeevatma) souls got separated hence telugu being a divine language, the very
                first language in the world, dravida brahmins chose 3 letters from telugu such as ‘Dra’ to denote
                Paramatma, ‘V’ to denote Atma, ‘Da’ to denote Jeevatma.
                Thus, they chose Dravida word which means a man exists with a combination of three souls and people who
                knew three (3) souls’ wisdom were together called as Dravidians.
                That the two (2) souls were separated from Paramatma (absolute soul), they are called the immortal and
                mortal souls, thus the letter representing the absolute soul (Paramatma) is intended to be a combination
                of two syllables 'da' with the 'ra'(da+ra = Draa), was kept for Paramatma who is the greatest of other
                two (2) souls. Similarly, the mortal soul or jeevatma doesn’t have any relation with other two
                souls(atmas) hence syllable ‘da’ was kept denoting mortal soul. The syllable ‘V’ was kept denoting
                Immortal soul which has relation with both the Absolute and mortal souls.
                <p>
                  <img src="assets/img/vi.png" />
                </p>
                In this way, by choosing the letters that have three meanings and with the intention that, those who
                knew the wisdom of three (3) souls were called Dravidians or Dravida brahmins. Therefore, since it was
                the country of Dravidian knowledge, the whole of Bharat country (India) was called the land of wise
                (India).
                <br><br>
                <b> 3. Does word Ravana has any meaning? What is the meaning of Ravana Brahma?</b><br>
                If we separate the word Ravana(sound) it is known as “Ra+Vana”. "Vana means forest, a group of trees".
                "Rum or Ra is the seed letter of destruction. Thus, Ravana means destroyer of the forest. Maya means the
                three (3) attributes in the body. It is known that the name Ravana means " the destroyer of three
                attributes which are together named as Maya that exists within the body”.
                In traitayuga Bhagavan Ravana brahma is the one who destroyed prevailing stubborn adharmas (Yagnas,
                Charities, Vedas, Penance, and other deity worship) totally with routs, established and taught divine
                wisdom also practiced himself as a guide to show divine path to all. He also made others to practice
                divine dharmas (brahma, karma, bhakti yogas) thus he was the very first and highest among all who knew,
                taught, and practiced divine wisdom hence he has been called as Ravana brahma.
                <br><br>
                <b> 4. What is the meaning of the word Sri Lanka? Can you explain the meaning of the word Sri
                  Rama?</b><br>
                <b>Sri</b> means pure and liberation. The letter Lam is the seed letter of the absolute soul
                (Paramatma). Ka is the only letter that gives an ending to word. Lanka means island. It means a place
                filled with water on all sides or around. Sri Lanka is a place of pure, divine, spiritual (immortal and
                absolute souls) energy surrounded by water. Sri means pure, liberation, Ra means destruction,
                annihilation, Ma means I. Sri Rama means to lose the ego of self and attain liberation. In the saying of
                Sri Rama, the living being, the jeevatma (ma) is lost (ra) to attain liberation(sri). The word Srirama
                was formerly known and called as the word Marashree.
                <br><br>
                <b> 5. “There is no disciple like King Janaka! There is no teacher better than Ravanabrahma !!” What is
                  the basis for that statement?</b><br>
                This is based on the 20th verse mentioned in the chapter Karma Yoga of Sri Bhagavad Gita, the supreme,
                holy scripture.<br><br>
                Karmanaiva Hisansiddhi Masthita Janakadayah |<br>
                Lokasangrahamevapi Sampashyan Kartu Marhasi || (Karma Yoga)<br><br>
                <b>Meaning:</b> After performing Karma Yoga, the king Janaka etc. attained Liberation. you should
                practice this method at least for others to know.
                Janaka was the king of the Mithila region in South India. The king Janaka was five (5) years younger
                than Ravanabrahma, he was the first person to seek Ravanabrahma as a guru, teacher and the first
                disciple to know divine wisdom through him. The light seen from the Sri Lankan side at night was visible
                to the South Indians. There used to be a divine light shining in Srilanka region and that light was
                visible to the South Indians at night times.
                The king Janaka who saw the light thus appeared, knowing that there was some great power in Sri Lanka,
                became aware of Ravanabrahma and went to know divine wisdom wherever Ravanabrahma was teaching. He
                always practiced Karma Yoga and attained liberation in the same birth.
                Lord Ravanabrahma was the first Bhagavan to re teach the degraded dharmas on the earth, and Janaka
                Maharaja was the first to attain liberation on the earth.
                Thus, Janaka was being a king who was associated with many worldly activities and affairs in his
                kingdom, through Discipleship with Ravanabrahma Janaka practiced Karma Yoga and attained liberation,
                thus the aphorism formed “There is no disciple like King Janaka! There is no better teacher like
                Ravanabrahma !!” during those times only.<br><br>
                <b> 6.Are the Anjaneya, Jambavantha, Vali and Sugrivas who helped Rama really apes?</b><br>
                The Aryans envied the forest dwellers, tribal kings named Vali, Sugreev, Hanuman and the aged
                Zambavantha compared and told them as animals.
                It is contradictory to physical science that monkeys fly in the air for thousand yojanas, also that the
                monkeys talk. People without discernment believed them to be animals. In fact, they were all tribesmen
                in the Kishkindha Mountain range in the Nallamalla forests. Not monkeys. Vali and Sugreeva both were
                brothers. Zambavantha has been described in history as a sage, a genius, and a superpower. He is said to
                have known the secrets of Hanuman's birth, also as sage, and a guide to all. Anjaneya was the chief
                commander at Vali and Sugriva Kingdom. They all knew the Dravidian wisdom, the three (3) souls’
                knowledge. They were only tribals but not the monkeys. <br><br>
                <b> 7. What is a pushpaka vimana (Flower Flight)? It is said that Ravana stole the pushpaka vimana from
                  Kubera. Is this true? </b><br>
                Aparabrahma (Bhagavan), the genius, the master of all six (6) sciences, Bhagavan Ravana Brahma provided
                wisdom to the scientists during the traitayuga thus the aircraft was made through scientific appeals.
                The pushpaka vimana was a very fast paced aircraft made up of wood, accompanied by waves of divine seed
                chants power (mantra shakti) and medicinal properties. It used to land at a height of one foot on the
                earth. The devotees of Guru in Sri Lanka always decorated the flight with flowers, thus its name was
                coined as Pushpaka Vimana (Flower Flight).
                Bhagavan Ravana Brahma used to travel in Pushpaka Vimana to establish, teach, implement, protect the
                divine wisdom, divine dharmas in his kingdom, until south India and punish the oppressors of divine
                dharmas.
                Moreover, the pushpaka vimana was not made by Kubera and Ravana did not steal from Kubera.The pushpaka
                vimana flew according to the Bhagavan Ravana brahmas will power.
                <b>Lord Ravanabrahma was the creator of the Pushpaka Vimana.</b>
                <br><br>
                <b> 10. In the name of Ravanabrahma there is Brahma and why is he called Trikalagnani, Brahmagnani,
                  Aparabrahma?</b><br>
                Brahma means the God, great,head and Ishwar. Trikalagnani means one who knows the complete wisdom of
                three (3) soul’s (Kshara, Akshara Purushottama)."
                Brahmagnani means "the one who knows and practices divine wisdom perfectly and completely".
                Aparabrahma means “the formless Paramatma who pervades every atom of the universe, incarnates on earth
                with a form who is nothing but or called as Bhagavan”.
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>