<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/img/devudimudra.png" height="60">
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 17px;"><b>பகவான்<br>ராவணப்பிரம்மா</b></ion-title>

    <ion-buttons slot="end">
      <img src="assets/img/rbdbs-logo.png" height="60">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-color">
  <ion-grid>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <span [innerHTML]="htmlContent"></span>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


  </ion-grid>
</ion-content>
 
     