<ion-content class="ion-content-color">
    
      <ion-row>
        <ion-col class="ion-text-center">
          <span><h3><b>Font Size</b></h3></span>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
           <span [ngStyle]="{'font-size':global.fontSize+'px'}"><b>Soul</b></span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-range min="15" max="40" step="1" snaps="true" [(ngModel)]="global.fontSize" color="secondary"></ion-range>
        </ion-col>
      </ion-row>
    
    </ion-content>