<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/img/devudimudra.png" height="60">
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 17px;"><b>భగవాన్<br>రావణ బ్రహ్మ</b></ion-title>

    <ion-buttons slot="end">
      <img src="assets/img/rbdbs-logo.png" height="60">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-color">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <b>అచ్చు మీడియా</b>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">
      <ion-col>
       <img src="assets/img/printmedia/telugu/{{i}}.jpg"/><br>
      </ion-col>
   </ion-row>
  </ion-grid>
</ion-content>
