<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/img/devudimudra.png" height="60">
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 17px;"><b>भगवान<br>रावणा ब्रह्म</b></ion-title>

    <ion-buttons slot="end">
      <img src="assets/img/rbdbs-logo.png" height="60">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-color">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <b>प्रिंट मीडिया</b>
      </ion-col>
    </ion-row>
    <div *ngFor="let a of articles">
      <ion-row style="background-color: white;">
        <ion-col>
          <img src="{{a.img}}">
        </ion-col>
      </ion-row>
      <ion-row style="background-color: white;">
        <ion-col class="ion-text-center" >
          <ion-button fill="outline" shape="round">
            <a href="{{a.text}}">Read The Article</a> 
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row><ion-col></ion-col></ion-row>
    </div>
  </ion-grid>
</ion-content>
