<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/img/devudimudra.png" height="60">
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 17px;"><b>Bhagavan</b><br><b>Ravana Brahma</b></ion-title>
    <ion-buttons slot="end">
      <img src="assets/img/rbdbs-logo.png" height="60">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-color">
  <ion-grid>
    <ion-row>
      <ion-col style="font-size:17px" class="ion-text-center">
        <b>యాప్ ను పంచండి</b>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="custom-card">
          <ion-card-content>
            <ion-row>
              <ion-col class="ion-text-center">
                <b>
              
              <a href="https://wa.me/?text=https://play.google.com/store/apps/details?id=org.thraithashakam.bhagavadgeetha.telugu">భగవద్గీత తెలుగులో</a>
            </b>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <b>
              <a href="https://wa.me/?text=https://play.google.com/store/apps/details?id=org.thraithashakam.bhagavadgeetha.Kannada">ಭಗವದ್ಗೀತೆ ಕನ್ನಡದಲ್ಲಿ</a>
            </b>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <b>
              <a href="https://wa.me/?text=https://play.google.com/store/apps/details?id=org.thraithashakam.bhagavadgeetha.english">Bhagavad Gita in English</a>
            </b>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>