<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/img/devudimudra.png" height="60">
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 17px;"><b>Bhagavan<br>Ravana Brahma</b></ion-title>

    <ion-buttons slot="end">
      <img src="assets/img/rbdbs-logo.png" height="60">
    </ion-buttons>
  </ion-toolbar>
</ion-header>  

  <ion-content class="ion-content-color">

    <swiper-container [slidesPerView]="3" [loop]="true">
      <swiper-slide>

        <ng-template swiperSlide *ngFor="let img of data">
          <ion-card>
            <ion-row>
              <ion-col>
                <img [src]="img" height="100%" />
              </ion-col>
            </ion-row>
          </ion-card>
        </ng-template>

      </swiper-slide>
    </swiper-container>

  
     </ion-content>
     