<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/img/devudimudra.png" height="60">
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 17px;"><b>భగవాన్<br>రావణ బ్రహ్మ</b></ion-title>

    <ion-buttons slot="end">
      <img src="assets/img/rbdbs-logo.png" height="60">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-color">
  <ion-grid>
    <ion-card>
      <ion-card-content>

        <ion-row>
          <ion-col class="ion-text-center">
            <h1>రావణ బ్రహ్మ గురించి గ్రంథములు</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <img width="100%" src="assets/img/telugu/1.jpg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button fill="outline" shape="round" (click)="openPdf('https://thraithashakam.org/publications/telugu/pdf/Dravida-Brahmana.pdf')">గ్రంథము తెరువుము
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <img width="100%" src="assets/img/telugu/2.jpg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button fill="outline" shape="round" (click)="openPdf('https://thraithashakam.org/publications/telugu/pdf/Bhagavan-Ravana-Brahma.pdf')">గ్రంథము
                తెరువుము</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <img width="100%" src="assets/img/telugu/3.jpg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button fill="outline" shape="round" (click)="openPdf('https://thraithashakam.org/publications/telugu/pdf/Thraithaakaara-Rahasyamu.pdf')"> 
                 గ్రంథము తెరువుము  </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <img width="100%" src="assets/img/telugu/4.jpg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button fill="outline" shape="round" (click)="openPdf('https://thraithashakam.org/publications/telugu/pdf/Vedamulu-Manishiki-Avasarama.pdf')">
              గ్రంథము తెరువుము</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>